name: Docker CD

on: 
  workflow_call:
    inputs:
      registry-url:
        required: true
        type: string 
      context:
        required: true
        type: string

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ${{ inputs.context }}
          repository: ${{ inputs.registry-url }}
          registry: docker.pkg.github.com
          push: true
          tag_with_sha: true
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
        